<h1 style="text-align: center; font-size: 5em" > item added to list </h1>


 <h1 style="text-align: center; font-size: 4em"><%= link_to "Show List", '/users/lists' %> </h1>
 <h1 style="text-align: center; font-size: 4em"><%= link_to "Click here to view your DashBoard", '/users/dashboard' %> </h1>
