<h1> DASHBOARD</h1>

<% if user_signed_in? %>

  <div>Signed in as... <%= current_user.name %></div>
<% end %>

<h1> create list </h1>
<%= link_to "Create List", '/users/create_list' %>

<h1> Show lists </h1>
 <%= link_to "Show List", '/users/lists' %>
